@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* font-family: 'Dancing Script', cursive; */

.CartTotal{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
