@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* font-family: 'Dancing Script', cursive; */

.cartItemContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: 5px;
}
.cartItemImg{
    width: 200px;
    filter: drop-shadow(10px 5px 20px black);
}
.cartName{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: 10px;
}
.cartText{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 20px;
}