@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

@media (max-width: 1150px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerLogo_img{
        width: 100px;
    }
}

.footer_logo{
    /* border: 2px solid black; */
}

.footerCategories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* border: 2px solid black; */
}

.footerLogo_img{
    width: 60px;
    height: auto;
    margin: 0;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
}

@media (max-width: 1150px) {
   
    .footerLogo_img{
        width: 150px;
    }
}

.footerLogo_text{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 2vw;
}

@media (max-width: 1150px) {
   
    .footerLogo_text{
        font-size: 5vw;
    }
}
.footerCreater{
    display: flex;
    align-items: center;
    /* padding: 0; */
    /* border: 2px solid black; */
}

